* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 95%;
    margin: 16px auto;
    text-align: center;
}

h1 {
    color: steelblue;
    text-transform: uppercase;
    font-weight: bold;
}

.background {
    background: url(assets/background.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.main {
    height: 400px;
    display: flex;
}

.your-box, .bot-box {
    flex: 1;
    color: white;
    width: 100%;
}

.your-box img, .bot-box img {
    width: 35%;
    margin: 4px;
}

@media (min-width: 720px) {
  .main {
    height: 350px;
  }
  
  .your-box img, .bot-box img {
    width: 80px;
    margin: 8px;
  }
}