* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 95%;
    margin: 16px auto;
    text-align: center;
}

h1 {
    color: steelblue;
    text-transform: uppercase;
    font-weight: bold;
}

.background {
    background: url('assets/background.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.main {
    height: 350px;
    display: flex;
}

.your-box, .bot-box {
    flex: 1;
    color: white;
    width: 100%;
}

.your-box img, .bot-box img {
    width: 35%;
    margin: 4px;
}